.red
{
	color: red;
}

.homescreen
{
	width: 100%;
	position: absolute;
	top: 195px;
	z-index: 2;
}
.center
{
	text-align: center;
}

.login_form
{
	position: absolute;
	top: 190px;
	height: 200px;
	left: 22%;
	z-index: 2;
	background-color: rgba(255,255,255,0.92);
	width: 350px;
	height: 50%;
	height: 430px;
	padding-top: 15px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 0px;
	margin: 0px;
	border-radius: 10px;
	font-family: 'ONEDAY';
	box-shadow: 0 8px 16px 0 rgba(255,255,255,0.4), 0 6px 20px 0 rgba(255,255,255,0.39);
}

.input_fields
{
	height: 30px;
	width: 100%;
	margin-top: 5px;
	border-radius: 3px;
	margin-bottom: 10px;
	font-family: 'verdana';
	font-size: 0.9em;
	padding-left: 5px;
}

.login_button
{
	width: 200px;
	border-radius: 8px;
	height: 39px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	font-family: 'ONEDAY';
	font-size: 1.2em;
	padding-top: 7px;
	background-color: rgb(190,84,80);
	color: white;
	border: none;
	margin-top: 10px;

}

.welcome
{
	margin-bottom: 15px;
	font-size: 2em;
	font-weight: bold;
}

.bouton_facebook
{
	background-image: url('/assets/images/loginfacebook.jpg');
	width: 200px;
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	margin-bottom: 30px;

}
.register_link{
	margin: 0px;
	padding: 0px;
}
.register_link a:visited
{
	color: blue;
}
.register_link a:hover
{
	color: rgb(242,203,48);
}