<label>{{label}}</label>
{{input
placeholder=placeholder
type=type
value=value
class=(local-class (if isInvalid 'input_fields error' 'input_fields'))
}}
{{#if showErrorMessage}}
	<div local-class='message_error'>
		{{v-get model valuePath 'message'}}
	</div>
{{/if}}

{{yield}}
