<section>
	<p local-class="message">404</p>
	<p local-class="error">Error Page Not Found</p>
	<p local-class="center">

	{{#link-to 'dashboard'}}
			<button type="button" local-class="rescue_button">Rescue me</button>
	{{/link-to}}
	</p>
</section>
{{outlet}}
