<header>
	<div local-class="bloc_title">
		<img src="/assets/images/yellowbike.jpg" local-class="yellowbike">
		<h1 local-class="header_h1">Armada</h1>
		<img src="/assets/images/bluebike.jpg" local-class="bluebike">
	</div>
	<h2 local-class="header_h2">Manage your fleet from a touch</h2>
</header>

{{outlet}}

<footer>
	<hr>
	<p>Copyright<i>&copy</i>  2016 <u>HAOUI Benjamin</u> <i>&</i> <u>DIDELOT Kevin</u></p>
</footer>