<header>
	<div local-class="bloc_title">
		<img src="/assets/images/yellowbike.jpg" local-class="yellowbike">
		<div local-class="header_h1">Armada</div>
		<img src="/assets/images/bluebike.jpg" local-class="bluebike">
	</div>
	<h2 local-class="header_h2">Manage your fleet from a touch</h2>
</header>
<div local-class="content">
	<div local-class="content-inside">
		{{outlet}}
	</div>
</div>

<footer local-class="footer">
	<p local-class="copyright">
    <hr>
    Copyright<i>{{unescape '&copy'}}</i>  2016 <u>HAOUI Benjamin</u> <i>&</i> <u>DIDELOT Kevin</u>
	</p>
</footer>