<div local-class="container">
	{{#if (eq model.user.role 'admin')}}
		{{users.profile-dashboard.admin
		user=model.user
		logout='logout'
		}}
	{{else}}
		{{users.profile-dashboard.user
		user=model.user
		fleetInfo=model.fleetInfo
		logout='logout'
		}}
	{{/if}}
</div>

{{outlet}}
