@font-face {
	font-family: 'Tr2n';
	src: url('/assets/font/Tr2n.ttf');
}

@font-face {
	font-family: 'ONEDAY';
	src: url('/assets/font/ONEDAY.ttf');
}

body
{
	background-color: black;
}

header
{
	text-align: center;
}

i
{
	font-family: 'verdana';
	font-style: normal;
}

footer
{
	text-align: center;
	color: white;
	font-family: 'ONEDAY';
	font-size: 1em;
	position: relative;
	top: 570px;
}
footer hr
{
	width: 150px;
}
