@font-face {
	font-family: 'Tr2n';
	src: url('/assets/font/Tr2n.ttf');
}
@font-face {
	font-family: 'ONEDAY';
	src: url('/assets/font/ONEDAY.ttf');
}
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}
body {
	position: relative;
	background-color: black !important;
}
header {
	text-align: center;
	margin: 0px;
	padding: 0px;
}
i {
	font-family: 'verdana';
	font-style: normal;
}
h2 {
	padding-bottom: 10px;
	padding-top: 12px;
	margin: 0px;
}
footer
{
	position: relative;
	background-color: black! important;
	color: white;
	font-family: 'ONEDAY';
	font-size: 1em;
	text-align: center;

	height: 50px;
	width: 100%;
	z-index: 1;
}
