.container {
	min-height: calc(100vh);
	background: url("/assets/images/dashboard.jpg");
	background-size: 100%;
	background-repeat:no-repeat;
	max-width: 100%;
}
.container-image {
  position: absolute;
  width: 90%;
  top: 0px;
  left: 5%;
  z-index: 1;
}