{{#link-to 'dashboard'}}
    <img src="/assets/images/back.png" local-class="back"/>
{{/link-to}}

<h1 class="page-title">Create user</h1>

{{users.create-form
createUser='createUser'
user=model
error=error
}}

{{outlet}}