.container {
	width: 45%;
	min-height: 100%;
	margin: 0 auto;
	margin-top: 10px;
}
.white_text {
	color: white;
	font-family: 'ONEDAY';
	font-size: 3.4em;
	text-align: center;
}
.left_align, .right_align {
	position: relative;
}
.settings_icon {
	position: absolute;
	left: 0;
}
.logout_icon {
	position: absolute;
	right: 0;
}
.settings_icon, .logout_icon {
	height: 40px;
	border : 1px black solid;
	border-radius: 40px;
}
.profilepicture {
	border-radius: 50px;
	border : 1px rgb(160,245,240) solid;
	width: 80px;
	height: 80px;
	margin-top: -10px;
}
.profilepicture {
	vertical-align: middle;
}
.center {
	text-align: center;
	width: 100%;
}
.clock {
	line-height: 110px;
	font-size: 4.1em;
	text-align: center;
	font-family: 'ONEDAY';
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	height: 100px;
	background-color: rgba(255,255,255,0.9);
	border : 1px rgb(160,245,240) solid;
	border-radius: 5px;
}
.total_cars {
	line-height: 110px;
	height: 100px;
	background-color: rgba(255,255,255,0.9);
	border-radius: 5px 0 0 5px;
	border : 1px rgb(160,245,240) solid;
	text-align: center;
	font-size: 4.4em;
	font-family: 'ONEDAY';
}
.number_cars
{
	text-align: center;
	line-height: 55px;
	font-size: 2.8em;
	font-family: 'ONEDAY';
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

	border-radius: 0 5px 5px 0;
	height: 100px;
	margin-bottom: 20px;
}
.number_cars_key {
	background-color: #D80027;
	font-size: 2.3em;
	font-family: 'ONEDAY';
	border-radius: 5px;
}
.unused_cars {
	min-height: 100px;
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	background-color: rgba(255,255,255,0.9);
	border-radius: 5px;
	border : 1px rgb(160,245,240) solid;
}
.used_cars {
	min-height: 100px;
	background-color: rgba(255,255,255,0.9);
	border-radius: 5px;
	border : 1px rgb(160,245,240) solid;
	margin-bottom: 20px;
}
.number_used_cars, .number_unused_cars{
	line-height: 115px;
	font-size: 4.4em;
	font-family: 'ONEDAY';
}
.number_used_cars_key, .number_unused_cars_key{
	text-align: left;
	line-height: 52px;
	font-size: 1.5em;
	font-family: 'ONEDAY';
}
.number_used_cars, .number_used_cars_key, .view_rides {
	height: 98px;
}
.number_unused_cars, .number_unused_cars_key{
	height: 98px;
}
.view_rides, .plan_trip{
	text-align: center;
	line-height: 110px;
	height: 98px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

	border-radius: 5px;
	font-size: 3em;
	font-family: 'ONEDAY';
}
.money {
	margin: 0!important;
	padding: 0!important;
	min-height: 100px;
	background-color: rgba(255,255,255,0.9);
	border-radius: 5px;
	border : 1px rgb(160,245,240) solid;
	text-align: center;
	margin-bottom: 20px!important;
}
.total_money_label {
	height: 102px;
	margin: -2px;
	margin-left: -8px;
	padding: 0px;
	width: 43%;
	text-align: center;
	line-height: 55px;
	font-size: 2.5em;
	font-family: 'ONEDAY';
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
	border-radius: 5px 0 0 5px ;
}
.total_money {
	height: 100px;
	width: 55%;
	text-align: center;
	line-height: 110px;
	font-size: 3.8em;
	font-family: 'ONEDAY';
}
.total_money_label, .total_money {
	display: inline-block;
	vertical-align: middle;
}
.bank_amount_key {
	float: left;
	height: 100px;
	width: 130px;
	text-align: center;
	border-radius: 5px 0px 0px 5px;
	font-size: 2.3em;
	font-family: 'ONEDAY';
}
.bank_amount {
	font-size: 3.6em;
	font-family: 'ONEDAY';
	text-align: center;
	height: 100px;
}
.buy {
	height: 100px;
	background-color: rgba(255,255,255,0.9);
	border-radius: 5px;
	border : 1px rgb(160,245,240) solid;
}
.buy p {
	text-align: center;
	line-height: 50px;
	font-size: 1.5em;
	text-align: center;
	font-family: 'ONEDAY';
	text-decoration: none;
	height: 100px;
	color: black;
}
.plan_trip:hover, .view_rides:hover, .buy:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffaf4b+0,ff920a+100;Orange+3D+%231 */
	background: #ffaf4b; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffaf4b 0%, #ff920a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffaf4b 0%,#ff920a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */

}
.unused_cars a:visited, .used_cars a:visited, .buy:visited {
	text-decoration: none;
	color: black;
}