<section class="container" local-class="container">
	<div class="row">
		<div class="col-sm-1" local-class="left_align">
			{{#link-to 'profile'}}
				<img src="/assets/images/settings.png" local-class="settings_icon">
			{{/link-to}}
		</div>
		<div class="col-sm-10" local-class="white_text">
			<img src="/assets/images/profilepicture.jpg" local-class="profilepicture">
			{{ user.name }}
		</div>
		<div class="col-sm-1" local-class="rigth_align">
			<img src="/assets/images/logout.png" local-class="logout_icon"
				{{action 'logout'}}>
		</div>
	</div>
	<br>

	{{#link-to 'vehicles.create'}}
		Create new vehicles
	{{/link-to}}
	{{#link-to 'users.create'}}
		Create new user
	{{/link-to}}

</section>
{{yield}}
