<section local-class="dashboard_box">
	<p local-class="head_bar">
		{{#link-to 'profile'}}
			<img src="/assets/images/settings.png" local-class="settings_icon">
		{{/link-to}}
		<img src="/assets/images/profilepicture.jpg" local-class="profilepicture">
		{{ user.name }}
		<img src="/assets/images/logout.png" local-class="logout_icon"
			{{action 'logout'}}>
	</p>
	<div local-class="clock">
		<p>{{moment-format (now) 'hh:mm'
		locale='fr'
		timeZone='Europe/Paris'
		interval=1000
		allowEmpty=true}}</p>
	</div>
	{{#link-to 'vehicles.create'}}
		Create new vehicles
	{{/link-to}}
</section>
{{yield}}
